<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <h1 class="mt-1">Verifi</h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Page", "/image_results", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Verifi", "/image_results/new", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Community", "/posts", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tips", "/tips", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
          <div class="nav-item dropdown">
            <i class="fa-solid fa-bell dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" ></i>
            <%= current_user.notifications.where(unread: true).count %>
            <ul class="dropdown-menu dropdown-menu-end">
              <% current_user.notifications.where(unread: true).each do |notification| %>
                <li><%= link_to "New comment", post_path(notification.post), class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Verifi", "/image_results/new", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Community", "/posts", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tips", "/tips", class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
