<div class="container" data-controller="pixelate-image">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8">
      <h3 class="mt-3 mb-2"></h3>
      <div class="row">
        <div class="w-100 overflow-hidden">
          <% if @danger.empty? && @caution.empty? %>
            <h3><strong>Low risk for removal</strong></h3>
          <% else %>
            <h3><strong>High risk for removal </h3>
              <h2><%= @danger.join(", ") %> </strong></h2>
            <% if !@danger.empty? %>
              <p data-bs-toggle="collapse" data-bs-target="#dangercollapse">High: <%= @danger.join(", ") %>▼</p>
              <div class="collapse border border-1 p-3" id="dangercollapse" >
                <% @danger.each do |cat| %>
                  <p><em><%= cat %></em></p>
                  <p><%= @descriptions[cat] %></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if !@caution.empty? %>
            <p data-bs-toggle="collapse" data-bs-target="#cautioncollapse">Caution: <%= @caution.join(", ")  %>▼</p>
            <div class="collapse border border-1 p-3" id="cautioncollapse" >
              <% @caution.each do |cat| %>
                <p><em><%= cat %></em></p>
                <p><%= @descriptions[cat] %></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div Class=" mt-3 mb-2">
          <% if @result.profanity_type %>
            <%# <h3>Text related risks on the image: </h3> %>
            <p>Profanity Type: <%= @result.profanity_type.html_safe %></p>
          <% end %>
          <% if @result.profanity_type && @result.profanity_match %>
            <p>Profanity Used: <%= @result.profanity_match.html_safe %></p>
          <% end %>
          <% if @result.profanity_type && @result.profanity_match && @result.profanity_intensity %>
            <p>Profanity Intensity: <%= @result.profanity_intensity.html_safe %></p>
          <% end %>
        </div>
        <div class="image-container" data-pixelate-image-target="image" data-action="click->pixelate-image#coordinates">
          <%= cl_image_tag @result.photo.key, height: 400, width: 400, crop: :fill, style: ("display: none;" unless @result.cells.empty?) %>
        </div>
        <% if @result.cells.empty? %>
          <%= simple_form_for [@result, @cell] do |f| %>
            <%= f.submit "Break down image", class: "button mt-3", data:{action:"click->typed#display"} %>
          <% end %>
          <%# <% else %>
          <%# <p>See image breakdown below</p> %>
        <% end %>
        <button data-action="click->typed#display">Test</button>
        <div class="grid-container w-100">
          <%# cell results built into an image %>
          <% @result.cells.order(row: :asc, col: :asc).each do |cell| %>
            <%= image_tag(cell.photo_url, class: "w-100 cell #{ "gridstyle" if cell.danger? }") %>
          <% end %>
        </div>
        <div data-controller="blurr">
          <button class="btn-unstyled" data-pixelate-image-target="blurrButton"  data-action="click->pixelate-image#start"> Blurr</button>
          <form action="/image_results" method="POST">
            <input type="text" data-pixelate-image-target="input" hidden name="url_image">
            <% form_authenticity_token %>
            <input type="submit" data-pixelate-image-target="reVerifiButton" class="visually-hidden mt-3" value="Re-verifi">
          </form>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart">
          <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
        </svg>
      </div>
      <div class="safe">
        <% if !@safe.empty? %>
          <p>
            <% @safe.each_with_index do |cat, index|%>
              <span data-bs-toggle="collapse" data-bs-target="#safecollapse<%=index%>"><%= cat %>▼</span>
            <% end %>
          </p>
          <% @safe.each_with_index do |cat, index| %>
            <div class="collapse  border border-1 p-3" id="safecollapse<%=index%>" >
              <p><em><%= cat %></em></p>
              <p><%= @descriptions[cat] %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="mb-2">
        < class="w-75 mb-3">
          <%= bar_chart(@categories) %>
        </div>
        <div class="mb-5">
          <% if @categories.values.all?(nil) && @result.profanity_type == nil && @result.profanity_match == nil && @result.profanity_intensity == nil %>
            <% if @danger.empty? && @result.profanity_type == nil && @result.profanity_match == nil && @result.profanity_intensity == nil %>
              <%= link_to "Post to instagram!", "https://www.instagram.com/", class: "button mb-5" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
