<div class="container">
<<<<<<< HEAD
  <h1>Upload photo</h1>
=======
  <h1>New Image upload</h1>
  <%= simple_form_for @image_results do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
>>>>>>> master
</div>
<%= form_with(url: "/image_results/new", local: true) do |form| %>
  <%= form.file_field :image %>
  <%= form.submit "Upload" %>
<% end %>
