<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8">
      <%= link_to image_results_path, class: "back-button" do %>
        <i class="fa-solid fa-arrow-left"></i> Back to My Results
      <% end %>
      <h1>Details</h1>
      <div class="row">
        <div>
          <%= cl_image_tag @result.photo.key, height: 400, width: 400, crop: :fill %>
          <% if @result.profanity_type %>
            <h2>Text related risks</h2>
            <p>Profanity Type: <%= @result.profanity_type.html_safe %></p>
          <% end %>
          <% if @result.profanity_type && @result.profanity_match %>
            <p>Profanity Used: <%= @result.profanity_match.html_safe %></p>
          <% end %>
          <% if @result.profanity_type && @result.profanity_match && @result.profanity_intensity %>
            <p>Profanity Intensity: <%= @result.profanity_intensity.html_safe %></p>
          <% end %>
        </div>
        <div>
          <% if @categories.values.all?(nil) %>
            <h2>No imagery related risks</h2>
          <% else %>
            <h2>Imagery related risks:</h2>
            <% if @danger %>
              <p><strong>Your image is at risk due to high <%= @danger.join(", ") %> levels</strong></p>
            <% end %>
            <p>High: <%= @danger.join(", ") %></p>
            <p>Caution: <%= @caution.join(", ")  %></p>
            <p>Safe: <%= @safe.join(", ")  %></p>
            <div class="w-75">
              <%= bar_chart(@categories) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# const categories = [
    { label: "sexual activity", value: sexualActivityResult },
    { label: "Sexual Display", value: sexualDisplayResult },
    { label: "Erotic", value: eroticResult },
    { label: "Suggestive", value: suggestiveResult },
    { label: "Drugs", value: drugsResult },
    { label: "Gore", value: goreResult }
  ]; %>
  <%# <div class="w-75">
  <canvas id="myChart" class="chart-canvas"></canvas>
</div> %>
  <%#
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const sexualActivity = document.getElementById('sexual-activity');
  const sexualActivityResult = parseInt(sexualActivity.innerText.split(': ')[1])
  const sexualDisplay = document.getElementById('sexual-display');
  const sexualDisplayResult = parseInt(sexualDisplay.innerText.split(': ')[1])
  const erotic = document.getElementById('erotic');
  const eroticResult = parseInt(erotic.innerText.split(': ')[1])
  const suggestive = document.getElementById('suggestive');
  const suggestiveResult = parseInt(suggestive.innerText.split(': ')[1])
  const drugs = document.getElementById('drugs');
  const drugsResult = parseInt(drugs.innerText.split(': ')[1])
  const gore = document.getElementById('gore');
  const goreResult = parseInt(gore.innerText.split(': ')[1])

  const categories = [
    { label: "sexual activity", value: sexualActivityResult },
    { label: "Sexual Display", value: sexualDisplayResult },
    { label: "Erotic", value: eroticResult },
    { label: "Suggestive", value: suggestiveResult },
    { label: "Drugs", value: drugsResult },
    { label: "Gore", value: goreResult }
  ];

  // Sort the categories array in ascending order based on the value
  categories.sort(function(a, b) {
    return b.value - a.value;
  });

  const chartLabels = categories.map(function(item) {
    return item.label;
  });
  const chartData = categories.map(function(item) {
    return item.value;
  });

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: chartLabels,
      datasets: [{
        label: 'percentage',
        data: chartData,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],

      }]
    },
    options: {
      indexAxis: 'y',
      scales: {
        x: {
          beginAtZero: true
        }
      }
    }
  });

</script> %>
