<div class="container w-75">
  <div class="d-flex justify-content-between w-75">
    <h1>What's the issue?</h1>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
          <%= label_tag :tag_list, "Your label text" %>
          <%= check_box_tag :tag_list,
            params[:tag_list],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <h2>Catergories</h2>
  <div class="container">
    <%= link_to "New Post", new_post_path if policy(Post).new? %>
    <h1>Posts</h1>
    <% @posts.each do |post| %>
      <div class="mt-2 mb-2 grid gap-3 ">
        <div class="p-1 g-col-6">
          <%= link_to 'Category', posts_path, class: "button-category" %>
          <%= link_to 'Category', posts_path, class: "button-category" %>
        </div>
        <div class="p-1 g-col-6">
          <%= link_to 'Category', posts_path, class: "button-category" %>
          <%= link_to 'Category', posts_path, class: "button-category" %>
        </div>
        <div class="p-1 g-col-6">
          <%= link_to 'Category', posts_path, class: "button-category" %>
          <%= link_to 'Category', posts_path, class: "button-category" %>
        </div>
      </div>
    <% end %>
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="post-card w-75 border border-0 mb-3">
          <div class="post-card-body border-bottom mb-1">
            <p style="text-decoration: none;"><img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" /> <%= post.user.user_name %></p>
            <p class="card-subtitle mb-2 text-body-secondary" style="text-decoration: none;"><%= post.title %></p>
            <p class="card-text" style="text-decoration: none;"> <%= post.content %> <%#= cl_image_tag(post.photo.key) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
