<div class="container w-75">
  <div class="w-75">
    <h1>What's the issue?</h1>
    <div class="col-sm-8 my-3">
      <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <h2>Catergories</h2>
  <div>
    <% @tags.each do |tag| %>
      <%= link_to tag.name.capitalize, posts_path(tag_list: tag.name, query: params[:query]), class: "button-category" %>
    <% end %>
  </div>
  <% @posts.each do |post| %>
    <%= link_to post_path(post), class: "text-link" do %>
      <div class="post-card w-75">
        <h1><img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" /> <%= post.user.user_name %></h1>
        <h2><%= post.title %></h2>
        <p> <%= post.content %> <%#= cl_image_tag(post.photo.key) %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_post_path, class: "button-post", id: "sticky-button" do %>
    <i class="fa-solid fa-plus"></i>
  <%end%>
</div>
