<div class="container w-75">
  <%= link_to posts_path, class: "back-button" do %>
    <i class="fa-solid fa-arrow-left"></i> Back to Community
  <% end %>
  <div class="post-card mb-2 w-75">
    <h1><img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" /> <%= @post.user.user_name %></h1>
    <h2><%= @post.title %></h2>
    <p><%= @post.content %></p>
    <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %><br>
  </div>
  <%= simple_form_for [@post, @comment] do |f| %>
    <div class="m-t2 w-75">
      <%= f.input :content, label: "Comment as #{current_user.user_name}", input_html: {class: "bg-white", placeholder: "What are your thoughts?", rows: "5" } %>
      <%= f.submit class: "button" %>
    </div>
  <% end %>
  <% @comments.each do |comment| %>
    <div class="comment-card w-75">
      <h1><img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" /> <%= comment.user.user_name %></h1>
      <p><%= comment.content %></p>
    </div>
  <% end %>
  <%= link_to new_post_path, class: "button-post", id: "sticky-button" do %>
    <i class="fa-solid fa-plus"></i>
  <%end%>
  <% if policy(@post).edit? %>
    <%= link_to "Edit", edit_post_path(@post), class: "button" %>
    <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Delete post?" }, class: "button" %>
  <% end %>
</div>
